body {
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.cabecario {
    position: fixed; /*Fixar no topo*/
    top: 0;  /*Posicao Do Cabecario*/
    left: 0;  /*Encostar a esquerda*/
    width: 100%;  /*Ocupa toda a largura*/
    background-color: black;  /*Cor do fundo*/
    color: rgb(0, 0, 0);  /*Cor do texto*/
    padding: 10px;  /*Espaco interno*/
    z-index: 1000; /*Ficar por cima de tudo*/
    display: flex;
    align-items: center;
}

.titulo {
    margin: 10px;
    text-align: left; /* garante alinhamento à esquerda */
}

.logo {
    height: 55px; /*ajustar o tamanho */
    display: block;
}

.menu {
    margin-left: 1190px;
    display: flex;
    gap: 20px;
}

.botao {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
    align-self: center;
    justify-content: center;
    transition: 0.3s;
}

.botao:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0,0.7);
}

.icone {
    height: 25px;
    width: 25px;
}

.car {
    margin: 20px;
    width: 700px;
    transition: 0.4s;
    height: auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 4px 12px;
    display: block;
}

.car:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0,0.7);
}

.rodape {
    position: fixed;      /* fixa no fundo da janela */
    bottom: 0;            /* encosta no fim */
    left: 0;              /* encosta na esquerda */
    width: 100%;          /* ocupa toda a largura */
    height: 60px;         /* altura fixa do rodapé */
    color: white;
    display: flex;        /* ajuda no alinhamento */
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* centraliza verticalmente */
    font-size: 16px;
    z-index: 1000;
}

.compra {
    width: 350px;
    padding: 20px;
    margin-left: 950px;
    margin-top: -450px;
    background-color: rgb(255, 255, 255);
}

.compra h2 {
    margin-bottom: 15px;
}

.compra p {
    margin-bottom: 15px;
}

.compra select {
    width: 100%; /* ocupar toda a largura */
    padding: 10px; /* espaço interno */
    margin: 10px 0 20px 0; /* espaçamento externo */
    font-size: 16px; /* tamanho do texto */
    border-radius: 5px; /* arredondar bordas */
    border: 2px solid black; /* borda */
    cursor: pointer; /* indicador de clique */
}

.btn-comprar {
    background: black;
    color: white;
    padding: 18px 120px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.btn-comprar:hover {
    background: #88a600;
    transform: scale(1.05);
}

.s-mim {
    width: 60%;  /* tamanho da area de texto */
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sobre-container {
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: space-between; /* separa */
    padding: 40px;
    gap: 30px; /* distancia entre texto e GIF */
}

.gif-porsche {
    width: 1800px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px black;
    transition: 0.5s;
}
.gif-porsche:hover {
    transform: scale(1.05);
}